<div class="h-screen w-screen flex">
  <div
    class="left-panel w-68 h-full bg-white grid grid-rows-[200px_100px_2fr] border-0 border-r border-gray-300 border-solid"
  >
    <div class="overflow-auto">
      <div class="py-2 px-4 border-0 border-b border-gray-300 border-solid bg-white">Widgets</div>
      <div class="py-2 px-4">
        @for (widget of widgets; track widget.id) {
          <button
            (click)="moveWidgetOnScaffold($event, widget)"
            class="hover:bg-blue-300/50 cursor-pointer block w-full text-left"
          >
            {{ widget.widgetName }}
          </button>
        }
      </div>
    </div>
    <div class="overflow-auto">
      <div class="py-2 px-4 border-0 border-t border-b border-gray-300 border-solid bg-white">
        Pages
      </div>
      <div class="py-2 px-4 overflow-auto">
        <ul>
          @for (page of pages; track page.id) {
            <li>
              <a
                [routerLink]="['page', page.id]"
                routerLinkActive="text-blue-500"
                class="hover:bg-blue-300/50 block"
                >{{ page.pageName }}</a
              >
            </li>
          }
        </ul>
      </div>
    </div>
    <div class="overflow-auto">
      <div class="py-2 px-4 border-0 border-t border-b border-gray-300 border-solid bg-white">
        Layers
      </div>
      <div class="py-2 px-4">
        <ng-container
          *ngTemplateOutlet="
            layersTreeTemplate;
            context: {
              $implicit: layers,
            }
          "
        ></ng-container>

        <ng-template #layersTreeTemplate let-layerTree>
          @if (layerTree.length > 0) {
            <ul
              class="w-full list-inside"
              (mousemove)="mouseMoveOnTree($event)"
              (mouseleave)="mouseLeaveOnTree()"
              (contextmenu)="contextMenuOnLayer($event)"
            >
              @for (layer of layerTree; track layer.id) {
                <li
                  [attr.data-layer-id]="layer.id"
                  (click)="selectLayerFromTree($event, layer)"
                  class="pl-2"
                >
                  @if (layer.children) {
                    <span
                      class="block"
                      [ngClass]="{
                        'bg-blue-300/50': layer.id === highlightedLayer()?.id,
                        'text-blue-500': layer.id === selectedLayer.id,
                      }"
                      >{{ layer.widgetReference.widgetName }}</span
                    >
                    <ng-container
                      *ngTemplateOutlet="
                        layersTreeTemplate;
                        context: {
                          $implicit: layer.children,
                        }
                      "
                    ></ng-container>
                  }
                </li>
              }
            </ul>
          }
        </ng-template>
      </div>
    </div>
  </div>

  <div class="grow h-full flex flex-col">
    <div class="editor-toolbar py-2 px-4 border-0 border-b border-gray-300 border-solid bg-white">
      <button matIconButton (click)="undo()" [disabled]="!canUndo()" title="Undo (Cmd+Z)">
        <mat-icon>undo</mat-icon>
      </button>
      <button matIconButton (click)="redo()" [disabled]="!canRedo()" title="Redo (Cmd+Shift+Z)">
        <mat-icon>redo</mat-icon>
      </button>
    </div>
    <div
      class="viewport grow h-full bg-gray-100 pt-10 pb-10 items-center overflow-auto"
      (click)="clickOnLayerFromScaffold($event)"
      (mousemove)="mouseMoveOnScaffold($event)"
      (contextmenu)="contextMenuOnLayer($event)"
    >
      <router-outlet></router-outlet>
    </div>
  </div>

  <div
    class="property-panel w-68 h-full flex flex-col bg-white border-0 border-l border-gray-300 border-solid"
  >
    <de-layer-property-builder />
  </div>
</div>
