@switch (layer().widgetReference.widgetType) {
  @case ('section') {
    <de-layer-content>
      <section
        [class]="layer().widgetReference.defaultWidgetPropertyModel.class"
        [class]="layer().layerPropertyModel | layerAttributeTransform: buildLayerTailwindClasses"
        [style]="layer().layerPropertyModel | layerAttributeTransform: buildLayerStyleAttribute"
      >
        @if (layer().children) {
          <ng-container
            *ngTemplateOutlet="
              layersTemplate();
              context: {
                $implicit: layer().children,
              }
            "
          ></ng-container>
        }
      </section>
    </de-layer-content>
  }

  @case ('heading') {
    <de-layer-content>
      <h1
        [class]="layer().widgetReference.defaultWidgetPropertyModel.class"
        [class]="layer().layerPropertyModel | layerAttributeTransform: buildLayerTailwindClasses"
      >
        {{ layer().layerPropertyModel.content }}
      </h1>
    </de-layer-content>
  }

  @case ('text') {
    <de-layer-content>
      <p
        [class]="layer().widgetReference.defaultWidgetPropertyModel.class"
        [class]="layer().layerPropertyModel | layerAttributeTransform: buildLayerTailwindClasses"
      >
        {{ layer().layerPropertyModel.content }}
      </p>
    </de-layer-content>
  }

  @case ('image') {
    <de-layer-content>
      <img
        [class]="layer().widgetReference.defaultWidgetPropertyModel.class"
        [src]="layer().layerPropertyModel.content"
      />
    </de-layer-content>
  }

  @case ('link') {
    <de-layer-content>
      <a [class]="layer().widgetReference.defaultWidgetPropertyModel.class" [href]="linkLayerPropertyModel.href"     
      [target]="linkLayerPropertyModel.target"    
      >{{layer().layerPropertyModel.content}}</a>
    </de-layer-content>
  }

  @default {
    <de-layer-content>
      <div
        [class]="layer().widgetReference.defaultWidgetPropertyModel.class"
        [class]="layer().layerPropertyModel | layerAttributeTransform: buildLayerTailwindClasses"
      >
        @if (layer().children) {
          <ng-container
            *ngTemplateOutlet="
              layersTemplate();
              context: {
                $implicit: layer().children,
              }
            "
          ></ng-container>
        }
      </div>
    </de-layer-content>
  }
}
