<div class="h-screen w-screen flex">
  <div class="left-panel w-68 h-full bg-white grid grid-rows-[200px_100px_2fr] border-0 border-r border-gray-300 border-solid">
    <div class="overflow-auto">
      <div class="py-2 px-4 border-0 border-b border-gray-300 border-solid bg-white">Widgets</div>
      <div class="py-2 px-4">
        @for (widget of widgets; track widget.id) {
          <div (click)="moveWidgetOnScaffold(widget)">{{ widget.widgetName }}</div>
        }
        <!-- <div>Scaffold</div>
        <div>Container</div>
        <div>Section</div>
        <div>Row</div>
        <div>Column</div>
        <div>Heading</div>
        <div>Text</div>
        <div>List</div>
        <div>Icon</div>
        <div>Image</div> -->
      </div>
    </div>
    <div class="overflow-auto">
      <div class="py-2 px-4 border-0 border-t border-b border-gray-300 border-solid bg-white">Pages</div>
      <div class="py-2 px-4 overflow-auto ">
        <div>Page 1</div>
        <div>Page 2</div>
      </div>
    </div>
    <div class="overflow-auto">
      <div class="py-2 px-4 border-0 border-t border-b border-gray-300 border-solid bg-white">Layers</div>
      <div class="py-2 px-4">
        <ng-container *ngTemplateOutlet="layersTreeTemplate; context: {
          $implicit: appState.appViewSchema.layers
        }"></ng-container>

        <ng-template #layersTreeTemplate let-layers>
          @if (layers.length > 0) {
            <ul class="w-full list-inside">
              @for (layer of layers; track layer.id) {
                <li (click)="selectLayerFromTree($event, layer)" class="pl-2">
                  @if (layer.children) {
                    <span class="block" [ngClass]="{
                      'text-blue-500': layer.id === appState.selectedLayer?.id
                    }">{{layer.widgetReference.widgetName}}</span>
                    <ng-container *ngTemplateOutlet="layersTreeTemplate; context: {
                      $implicit: layer.children,
                    }"></ng-container>
                  }
                </li>
              }
            </ul>
          }
          
          
        </ng-template>
      </div>
    </div>
  </div>
  
  <div class="viewport grow h-full bg-gray-100 pt-10 pb-10 items-center overflow-auto">
    <div data-scaffold class="app-scaffold w-md bg-white min-h-full rounded-md shadow-md mr-auto ml-auto" (click)="clickOnLayerFromScaffold($event)" (contextmenu)="contextMenuOnLayerFromScaffold($event)">
      <ng-container *ngTemplateOutlet="layersTemplate; context: {
        $implicit: appState.appViewSchema.layers
      }"></ng-container>

      <ng-template #layersTemplate let-layers>
        @for (layer of layers; track layer.id) {
          <de-layer [layer]="layer" [selected]="layer.id === appState.selectedLayer?.id" [layersTemplate]="layersTemplate"/>
        }
      </ng-template>
    </div>
    
  </div>
  <div class="property-panel w-68 h-full flex flex-col bg-white border-0 border-l border-gray-300 border-solid">
    @if (appState.selectedLayer) {
      <div class="py-2 px-4 border-0 border-b border-gray-300 border-solid">{{appState.selectedLayer.widgetReference.widgetName}}</div>
      <div class="py-2 px-4">
        <div>
          <div>Class</div>
          <input type="text" class="border border-gray-300 rounded-md w-full" [(ngModel)]="appState.selectedLayer.widgetReference.defaultWidgetProperties.class" />
        </div>
      
        <!-- <div>Border</div>
        <div>Padding</div>
        <div>Margin</div>
        <div>Width</div>
        <div>Height</div>
        <div>Color</div>
        <div>Background</div> -->
      </div>
    }
    
  
</div>

</div>
