<div class="inner" cdkDropListGroup>
  <div class="workspace">
    <de-layout
      id="layoutList"
      cdkDropList
      #layoutList="cdkDropList"
      autoScrollStep="100"
      [cdkDropListData]="layoutItems"
      (cdkDropListDropped)="dropWidget($event)">
      @if (layoutItems.length) {
        @for (item of layoutItems; track item.id) {
          <de-layout-item
            cdkDrag
            cdkDragBoundary=".workspace"
            [item]="item.widgetRef.title"
            (closeEvent)="removeLayoutItem(item)"
            >
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>

            <ng-container *ngComponentOutlet="getWidget(item.widgetRef.id) | async;"></ng-container>
  
          </de-layout-item>
        }
      } @else {
        Looks like you don't have any widgets yet. Please, proceed and start dragging new from the toolbar on your right
      }
      
    </de-layout>
  </div>
  <div class="toolbar">
    <mat-list 
      id="widgetList"
      #widgetList="cdkDropList"         
      cdkDropList
      cdkDropListSortingDisabled
      [cdkDropListData]="widgets">
      @if (widgets.length) {
        @for (widget of widgets; track widget.id) {
          <mat-list-item cdkDrag [cdkDragData]="widget">
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <mat-icon matListItemIcon>note</mat-icon>
            <div matListItemTitle>{{widget.title}}</div>
          </mat-list-item>
        }
      } @else {
        <mat-list-item>
          <div matListItemTitle>No available widgets</div>
        </mat-list-item>
      }
      
    </mat-list>
  </div>
</div>
