<div class="inner" cdkDropListGroup>
  <div class="workspace">
    <de-layout
      id="layoutList"
      cdkDropList
      #layoutList="cdkDropList"
      autoScrollStep="100"
      [cdkDropListData]="layoutItems"
      (cdkDropListDropped)="dropWidget($event)"
      (cdkDropListEntered)="onLayoutEnter()"
      (cdkDropListExited)="onLayoutExit()"
      >

      @if (!isUnderLayout && this.widgets.length > 0) {
        <div class="example-custom-placeholder">
          Drag a new widget here
        </div>
      }
      @for (item of layoutItems; track item.id) {
        <de-layout-item
          cdkDrag
          cdkDragBoundary=".workspace"
          [item]="item.widgetRef.title"
          (cdkDragStarted)="onLayoutDragStarted()"
          (closeEvent)="removeLayoutItem(item)"
          >
          <de-widget [config]="item.widgetRef.config"/>
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        </de-layout-item>
      }
    </de-layout>
  </div>
  <div class="toolbar">
    <mat-list 
      id="widgetList"
      #widgetList="cdkDropList"         
      cdkDropList
      cdkDropListSortingDisabled
      [cdkDropListData]="widgets">
      @if (widgets.length) {
        @for (widget of widgets; track widget.id) {
          <mat-list-item cdkDrag [cdkDragData]="widget">
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <mat-icon matListItemIcon>note</mat-icon>
            <div matListItemTitle>{{widget.title}}</div>
          </mat-list-item>
        }
      } @else {
        <mat-list-item>
          <div matListItemTitle>No available widgets</div>
        </mat-list-item>
      }
      
    </mat-list>
  </div>
</div>
