
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'tailwindcss';
@source inline("bg-white");
@source inline("bg-black");

@source inline("bg-blue-{100..900}");
@source inline("bg-red-{100..900}");
@source inline("bg-green-{100..900}");
@source inline("bg-gray-{100..900}");
@source inline("bg-cyan-{100..900}");
@source inline("bg-indigo-{100..900}");
@source inline("bg-yellow-{100..900}");
@source inline("bg-purple-{100..900}");
@source inline("bg-pink-{100..900}");
@source inline("bg-teal-{100..900}");

@source inline("bg-center");
@source inline("bg-top");
@source inline("bg-bottom");
@source inline("bg-left");
@source inline("bg-right");

@source inline("bg-repeat");
@source inline("bg-no-repeat");

@source inline("bg-auto");
@source inline("bg-cover");
@source inline("bg-contain");

@source inline("text-white");
@source inline("text-white");

@source inline("text-blue-{100..900}");
@source inline("text-red-{100..900}");
@source inline("text-green-{100..900}");
@source inline("text-gray-{100..900}");
@source inline("text-cyan-{100..900}");


@source inline("text-left");
@source inline("text-center");
@source inline("text-right");
@source inline("text-justify");



@import '@angular/cdk/overlay-prebuilt.css';


* {
  box-sizing: border-box;
}

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: -2,
  ));

  // @include mat.all-component-themes(mat.$azure-palette);
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  overflow: hidden;
}

input {
  @apply px-2 py-1 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent;
}

select {
  @apply px-2 py-1 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent;
}

.icon-button-xs {
  // @include mat.button-density(-4);

  /* Change the size of the icon inside the button */
  --mat-icon-button-icon-size: 16px;

  // // --mat-icon-button-icon-color: var(--mat-sys-primary);

  // /* Optionally, change the overall button container size (default is 40px) */
  --mat-icon-button-state-layer-size: var(--mat-icon-button-icon-size);

  /* You may also need to adjust padding/dimensions for perfect centering */
  // width: 50px;
  // height: 50px;   
  .mat-icon {
    width: var(--mat-icon-button-icon-size);
    height: var(--mat-icon-button-icon-size);
    font-size: var(--mat-icon-button-icon-size);
  }  
}