@let widgetConfig = config();

@if (isArray(widgetConfig)) {
  <mat-tab-group animationDuration="0">
    @for (configItem of widgetConfig; track configItem.id) {
      <mat-tab [label]="configItem.title!">
        <ng-template matTabContent>
          <ng-container *ngTemplateOutlet="widgetTemplate; context: {
            $implicit: configItem
          }"></ng-container>
        </ng-template>
        
      </mat-tab>
    }
  </mat-tab-group>
} @else {
  @if (widgetConfig) {
    <ng-container *ngTemplateOutlet="widgetTemplate; context: {
      $implicit: widgetConfig
    }"></ng-container>
  }
}

<ng-template #widgetTemplate [typedTemplate]="typeToken" let-item>
  @if (item.component === 'bar' || item.component === 'line' || item.component === 'pie') {
    @if (item.api) {
      @let response = item.api.response | async;

      @if (response === null) { 
        <ngx-skeleton-loader count="8" appearance="line" />
      } @else {
        <div highchartsChart [options]="getHighchartOption(item, response)" class="chart"></div>
      }

    } @else {
      <div highchartsChart [options]="getHighchartOption(item)" class="chart"></div>
    }
  } @else if (item.component === 'text') {
    @if (item.api) {
      @let response = item.api.response | async;

      @if (response === null) {
        <ngx-skeleton-loader count="2" appearance="line" />
      } @else {
        <p>{{response}}</p>
      }
    } @else {
      <p>{{item.data}}</p>
    }
  } @else if (item.component === 'ul') {
    <ul>
      @for (listItem of item.data; track listItem) {
        <li>{{listItem}}</li>
      }
    </ul>
  } @else if (item.component === 'grid') {
    @let columns = item.data![0];
    @let rows = item.data![1];


    <table mat-table [dataSource]="rows">
       @for (column of columns; track column) {
        <ng-container [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef>{{column}}</th>
          <td mat-cell *matCellDef="let element">{{element[column]}}</td>
        </ng-container>
       }

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  } @else if (item.component === 'image') {
    <img [src]="item.data">
  }

  @if (item.next) {
    <ng-container *ngTemplateOutlet="widgetTemplate; context: {
      $implicit: item.next
    }"></ng-container>
  }
</ng-template>

